<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App_URL</key>
	<string>$APP_URL</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$USER_APP_NAME</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(USER_APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(USER_APP_NAME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$USER_BUNDLE_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$USER_BUNDLE_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(USER_APP_NAME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>Google_API_keys</key>
	<string>$GOOGLE_MAP_KEY</string>
	<key>Google_Places_keys</key>
	<string>$GOOGLE_PLACE_KEY</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>skype</string>
		<string>whatsapp</string>
		<string>waze</string>
		<string>$REDIRECT_APP_USER</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>tel</string>
		<string>Switch</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(USER_APP_NAME) to Enable camera access so that you can allow admin and rider to view your photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>wantAccurateLocation</key>
		<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(USER_APP_NAME) track your position to calculate the trip distance.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(USER_APP_NAME) uses to contact trip rider.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(USER_APP_NAME) to Enable camera access so that you can allow admin and rider to view your photos.</string>
	<key>RedirectionLink_provider</key>
	<string>$REDIRECT_APP_USER</string>
	<key>ReleaseVersion</key>
	<string>$RELEASE_VERSION</string>
	<key>Remote-notification</key>
	<true/>
	<key>ThemeColors</key>
	<dict>
		<key>CancelledStatusColor</key>
		<string>f32f00</string>
		<key>CompletedStatusColor</key>
		<string>27aa0b</string>
		<key>DarkModeBackground</key>
		<string>333333</string>
		<key>DarkModeBorderColor</key>
		<string>b3b3b3</string>
		<key>DarkModeTextColor</key>
		<string>ffffff</string>
		<key>ErrorColor</key>
		<string>ff0000</string>
		<key>InactiveTextColor</key>
		<string>696969</string>
		<key>IndicatorColor</key>
		<string>000000</string>
		<key>PayStatementColor</key>
		<string>27aa0b</string>
		<key>PendingStatusColor</key>
		<string>f09400</string>
		<key>PrimaryColor</key>
		<string>2bcb7b</string>
		<key>PrimaryTextColor</key>
		<string>ffffff</string>
		<key>PromoColor</key>
		<string>119c16</string>
		<key>RatingColor</key>
		<string>F7C552</string>
		<key>SecondaryColor</key>
		<string>ffffff</string>
		<key>SecondaryTextColor</key>
		<string>303841</string>
		<key>TertiaryColor</key>
		<string>A3A3AB</string>
		<key>ThemeTextColor</key>
		<string>2bcb7b</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Book.otf</string>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Medium.otf</string>
		<string>ClanPro-NarrBook.otf</string>
		<string>ClanPro-NarrMedium.otf</string>
		<string>ClanPro-NarrNews.otf</string>
		<string>ClanPro-News.otf</string>
		<string>makent1.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>GoJek_Account</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UserType</key>
	<string>$USER_TYPE</string>
	<key>iTunesData_provider</key>
	<dict>
		<key>appID</key>
		<string>$DRIVER_APPSTORE_ID</string>
		<key>appName</key>
		<string>$DRIVER_APPSTORE_APP_NAME</string>
		<key>appStoreDisplayName</key>
		<string>$DRIVER_APPSTORE_DISPLAY_NAME</string>
	</dict>
	<key>iTunesData_user</key>
	<dict>
		<key>appID</key>
		<string>$USER_APPSTORE_ID</string>
		<key>appName</key>
		<string>$USER_APPSTORE_APP_NAME</string>
		<key>appStoreDisplayName</key>
		<string>$USER_APPSTORE_DISPLAY_NAME</string>
	</dict>
	<key>swiftVersion</key>
	<string>Swift 5.0</string>
	<key>xcodeVersion</key>
	<string>12.2</string>
</dict>
</plist>
